// out: ./styl.css, compress: true, sourceMap: true
@import "normalize", "rem", "font", "color", "mixin", "default";

/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

* {
  // @include ani(0.3s);
}

html {
  min-width: $min-width;
  max-width: 100%;
  font-size: 14px;
  height: -webkit-fill-available;
}

html,
body {
  font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;

  @media (max-width: $screen-size-pc - 1) {
    &.lock {
      height: 100vh;
      overflow: hidden;
    }
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  .container {
    @include container(100%);
    text-align: left;
    vertical-align: top;
    padding: 0 15px;

    @media (min-width: $screen-size-pc) {
      @include container($screen-size-pc);
      padding: 0;
    }
  }

  

  /* header */
  header {
    text-align: center;
    position: fixed;
    z-index: 1200;
    left: 0;
    right: 0;
    top: 0;

    .container {
      height: 54px;

      @media (min-width: $screen-size-pc) {
        height: 100px;
      }


      h1 {
        width:181px;
        height:24px;
        margin:15px 0 0;
        font-size:0;

        @media (min-width: $screen-size-pc) {
          width:233px;
          height:31px;
          margin:30px 0 0;
        }

        a {
          display:block;
          height:100%;
          background:url(../images/logo.svg) no-repeat center / 100% auto;

        }
  
      }

      button.main-menu {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 34px;
        height:34px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg transform='translate(-1233 -31)'%3E%3Crect width='34' height='34' transform='translate(1233 31)' fill='%23303339' opacity='0.9'/%3E%3Cg id='menu' transform='translate(1241 41.015)'%3E%3Cg transform='translate(0 5.837)'%3E%3Cg %3E%3Cpath   d='M17.3,236H.7c-.388,0-.7.448-.7,1s.315,1,.7,1H17.3c.388,0,.7-.448.7-1S17.685,236,17.3,236Z' transform='translate(0 -236)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg  %3E%3Cg %3E%3Cpath d='M17.3,76H.7c-.388,0-.7.448-.7,1s.315,1,.7,1H17.3c.388,0,.7-.448.7-1S17.685,76,17.3,76Z' transform='translate(0 -76)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(0 11.675)'%3E%3Cg %3E%3Cpath d='M17.3,396H.7c-.388,0-.7.448-.7,1s.315,1,.7,1H17.3c.388,0,.7-.448.7-1S17.685,396,17.3,396Z' transform='translate(0 -396)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
        font-size:0;
        margin: 0;
        padding: 0;
        border: none;

        @media (min-width: $screen-size-pc) {
          right:0;
          width:36px;
          height:36px;
          top:30px;
        }
      }
    }

    &.on {
      background:#fff;
    }
  }

  &.sub {
    header {
      background:#fff;

      @include drop-shadow(
              $x: 0,
              $y: 3px,
              $blur: 6px,
              $spread: 0,
              $alpha: 0.16
      );
    }
  }

  @media (max-width: $screen-size-pc - 1) {
    nav#main-menu {

      &.menu {
        display: none;
      }

      &.allMenu {
        display: block;
        position: fixed;
        z-index: 10000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
  
        &.on {
          display: block;
          z-index: 10000;
        }
  
        h2 {
          width:181px;
          height:24px;
          margin:15px 0 0 15px;
          font-size:0;
          background:url(../images/logo.svg) no-repeat center / 100% auto;
  
    
        }
  
  
  
  
        div.menus {
          margin: 30px 0 55px;
  
          & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
  
            & > li {
              border-top:1px solid #B3C4D5;
              padding:28px;

              h3 {
                margin: 0;
                display:inline-block;
                width:140px;
                margin-right:20px;
  
                a {
                  display: block;
                  font-size: 16px;
                  font-weight: 600;
                  line-height:1.6;
                  color: #222;
                  padding: 0 20px;
                  word-break:keep-all;
                }
              }
  
              ul {
                display:inline-block;
                vertical-align:top;
                list-style: none;
                padding:0;
                margin:0;
  
  
                li {
                  a {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom:10px;
                    color: #555;
                  }
                }
              }
            }
          }
        }
  
  
        button.close {
          position:absolute;
          font-size:0;
          right:15px;
          top:10px;
          width:34px;
          height:34px;
          border:none;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg transform='translate(-314 -62)'%3E%3Crect width='34' height='34' transform='translate(314 62)' fill='%23303339' opacity='0.9'/%3E%3Cpath d='M17.043,7.843H10.557V1.357a1.357,1.357,0,0,0-2.715,0V7.843H1.357a1.357,1.357,0,0,0,0,2.715H7.843v6.486a1.357,1.357,0,1,0,2.715,0V10.558h6.486a1.357,1.357,0,0,0,0-2.715' transform='translate(330.936 65.602) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
  
        }

      }
    }
  }

  @media (min-width: $screen-size-pc) {
    nav#main-menu {


      &.menu {

        position: absolute;
        z-index: 100001;
        left: 0;
        right: 0;
        top: 100px;
        max-height: 0px;
        background: #fff;
  
        h2 {
          display: none;
        }
  
        div.menus {
          position: absolute;
          top: -80px;
          right: 50%;
          margin-right: -500px;
  
          & > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
  
            & > li {
              display: inline-block;
              vertical-align: top;
              position: relative;
              margin-right: 50px;
  
              &:last-of-type {
                margin-right:0;
              }
  
              h3 {
                a {
                  display: block;
                  color: #222;
                  font-size: 17px;
                  font-weight: 400;
                }
              }
  
              ul {
                display:none;
              }
  
              &.on {
                ul {
                  display:block;
                  position:absolute;
                  left:50%;
                  top:70px;
                  width:160px;
                  list-style:none;
                  margin:0 0 0 -80px;
                  padding:20px 20px 10px;
                  background:#253039;
                  border:1px solid #17171A;
                  border-radius:10px;
  
                  li {
                    a {
                      display:block;
                      font-size:15px;
                      color:#C7D6E5;
                      margin-bottom:10px;
  
                      &:hover,
                      &.active {
                        color:#fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        button.close {
          display:none;
        }

      }


      &.allMenu {

        position: absolute;
        z-index: 100001;
        left: 0;
        right: 0;
        top: 100px;
        background: #fff;
        border-top:1px solid #B3C4D5;
  
        h2 {
          display: none;
        }
  
        div.menus {
          & > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size:0;

            &::before {
              content:"";
              display:inline-block;
              width:180px;
              height:300px;
              background:url(../images/img-menu.svg) no-repeat left top 30px / 142px auto;
              border-right:1px solid #B3C4D5;
            }
  
            & > li {
              display: inline-block;
              width:195px;
              height:300px;
              vertical-align:top;
              border-right:1px solid #B3C4D5;

  
              &:last-of-type {
                margin-right:0;
              }
  
              h3 {
                margin:35px 0 25px;

                a {
                  display: block;
                  color: #222;
                  font-size: 19px;
                  word-break:keep-all;
                  font-weight: 800;
                  padding:0 50px;
                  height:60px;
                  line-height:1.6;
                }
              }
  
              ul {
                list-style:none;
                margin:0;
                padding:0;
                text-align:left;

                li {
                  a {
                    display:block;
                    position:relative;
                    font-size:16px;
                    margin-bottom:15px;
                    padding:0 18px;

                    &:hover,
                    &.active {

                      padding-left:36px;
                      font-weight:600;
                      color:#4572C2;

                      &::before {
                        content:"";
                        display:block;
                        position:absolute;
                        left:18px;
                        top:3px;
                        width:11.2px;
                        height:13px;
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.719' height='11.25' viewBox='0 0 8.719 11.25'%3E%3Cpath id='패스_22251' data-name='패스 22251' d='M5.344,4.25l5.906,8.719H0Z' transform='translate(12.969) rotate(90)' fill='%234572c2'/%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
                      }

                    }
                  }
                }
              }
            }
          }
        }
  
        button.close {
          position:absolute;
          font-size:0;
          left:50%;
          margin-left:564px;
          top:-71px;
          width:36px;
          height:36px;
          border:none;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg transform='translate(-314 -62)'%3E%3Crect width='34' height='34' transform='translate(314 62)' fill='%23303339' opacity='0.9'/%3E%3Cpath d='M17.043,7.843H10.557V1.357a1.357,1.357,0,0,0-2.715,0V7.843H1.357a1.357,1.357,0,0,0,0,2.715H7.843v6.486a1.357,1.357,0,1,0,2.715,0V10.558h6.486a1.357,1.357,0,0,0,0-2.715' transform='translate(330.936 65.602) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
  
        }

      }
    }


  }




  div#content {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    padding:54px 0 50px;

    @media (min-width: $screen-size-pc) {
      padding:100px 0 40px;
    }


    /* MAIN */
    &.main {
      background:#ccc;

      section.main-list {
        margin-bottom:40px;

        div.container {
          

        }
      }


    }

    /* SUB */
    &.sub {
      background:#fff;
 
      section.sub-header {
        background: transparent linear-gradient(90deg, #F8F9FB 0%, #DDE7F9 100%) 0% 0% no-repeat padding-box;

        div.container {

          h3 {
            text-align:center;
            font-size:20px;
            font-weight:600;
            margin:14px 0;

            @media (min-width: $screen-size-pc) {
              padding:42px;
              font-size:28px;
            }
          }

          div.nav {
            display:none;

            @media (min-width: $screen-size-pc) {
              display:block;
              position:absolute;
              left:0;
              top:30px;
              font-size:14px;
              color:#555;

              a.home {
                display:inline-block;
                vertical-align:top;
                position:relative;
                top:-3px;
                font-size:0;
                width:20px;
                height:20px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20.342' height='19.454' viewBox='0 0 20.342 19.454'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='20.342' height='19.454' fill='%23668dd1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(0 0)'%3E%3Cg transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath d='M21.888,33.465H8.4a.562.562,0,0,1-.562-.562V22.971a.562.562,0,0,1,1.124,0v9.37H21.326v-9.37a.562.562,0,0,1,1.124,0V32.9a.562.562,0,0,1-.562.562' transform='translate(-4.898 -14.011)' fill='%23668dd1'/%3E%3Cpath  d='M19.779,9.651a.561.561,0,0,1-.373-.142l-9.238-8.2L.933,9.417a.562.562,0,0,1-.742-.845L9.8.14a.562.562,0,0,1,.744,0l9.609,8.527a.562.562,0,0,1-.374.983' transform='translate(0 0)' fill='%23668dd1'/%3E%3Cpath d='M24.811,36.656h-4.8a.562.562,0,0,1-.562-.562V29.941A2.245,2.245,0,0,1,21.695,27.7h1.435a2.246,2.246,0,0,1,2.243,2.243v6.153a.562.562,0,0,1-.562.562m-4.234-1.124h3.672V29.941a1.12,1.12,0,0,0-1.119-1.119H21.695a1.12,1.12,0,0,0-1.118,1.119Z' transform='translate(-12.162 -17.317)' fill='%23668dd1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
              }

              span {
                display:inline-block;
                padding:0 4px;
              }

              strong {
                color:#222;
              }
            }
          }

          button.back {
            position:absolute;
            left:15px;
            top:50%;
            width:10px;
            height:23px;
            border:none;
            font-size:0;
            transform:translateY(-50%);
            background: url("data:image/svg+xml,%3Csvg id='그룹_1262' data-name='그룹 1262' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='9.816' height='18.444' viewBox='0 0 9.816 18.444'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_403' data-name='사각형 403' width='9.816' height='18.444' fill='%23848484'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_1261' data-name='그룹 1261' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_21900' data-name='패스 21900' d='M.342,8.34,7.533.43A1.312,1.312,0,0,1,9.475,2.2L3.087,9.223l6.388,7.026a1.313,1.313,0,0,1-1.942,1.766L.342,10.106a1.312,1.312,0,0,1,0-1.766' transform='translate(0 0)' fill='%23848484'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;

            @media (min-width: $screen-size-pc) {
              display:none;
            }
          }

        }
      }
  

      section.sub-contents {
        font-size:0;
        padding:30px 0 40px;

        @media (min-width: $screen-size-pc) {
          padding:40px 0 50px;
        }

        aside {
          display:none;
          
  
          @media (min-width: $screen-size-pc) {
            display:inline-block;
            vertical-align:top;
            text-align:left;
            width:200px;
            margin-right:44px;
  
            nav {
              ul.subMenu {
                list-style:none;
                margin:0;
                padding:0;
                font-size:16px;
  
                &>li {
                  &>a {
                    display:block;
                    background:#5680CC;
                    color:#fff;
                    line-height:49px;
                    border-bottom:1px solid #fff;
                    padding:0 20px;
                  }

                  ul {
                    display:inline-block;
                    list-style:none;
                    width:100%;
                    margin:0;
                    padding:20px 0 0;
                    background:#F6F6F6;

                    li {
                      a {
                        display:block;
                        padding:0 20px;
                        margin-bottom:20px;

                        &:hover,
                        &.active {

                          &::before {
                            content:">";
                            padding-right:6px;
                            color:#5680CC;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        div.contentsOutline {
            font-size:14px;
            text-align:left;
            padding:0 15px;

            @media (min-width: $screen-size-pc) {
              display:inline-block;
              vertical-align:top;
              width:956px;
              padding:0;
              padding-bottom:200px;
              
            }

            h4.sTitle {
              margin:0 0 20px;
              font-size:17px;
              font-weight:600;

              @media (min-width: $screen-size-pc) {
                font-size:20px;
                
              }
            }
        }


        

      }

    









    }
  }



  footer#footer {
    text-align: center;
    background:#282D33;
    padding:30px 0;

    @media (min-width: $screen-size-pc) {
    }

    div.container {
      font-size: 12px;

      @media (min-width: $screen-size-pc) {
      }

      ul {
        display:none;

        @media (min-width: $screen-size-pc) {
          display:block;
          list-style:none;
          margin:0 0 20px;
          padding:0;

          li {
            position:relative;
            display:inline-block;
            padding:0 12px;

            &::before {
              content:"";
              display:block;
              position:absolute;
              left:0;
              top:2px;
              width:1px;
              height:12px;
              background:#aaa;
            }

            &:first-child {
              padding-left:0;

              &::before {
                display:none;
              }
            }


            a {
              font-size:14px;
              color:#fff;
            }
          }
        }
      }

      address {

        display:none;

        @media (min-width: $screen-size-pc) {
          display:block;
          font-size:13px;
          color:#CCCCCC;
          font-style:normal;

          p {
            margin:0 0 10px;

            strong {
              font-weight:600;
            }
          }
        }
      }

      p.copyright {
        font-size:12px;
        color:#CCCCCC;

        @media (min-width: $screen-size-pc) {
          font-size:13px;
        }
      }

      div.agency {
        display: block;
        position: relative;
        width: auto;
        height: 46px;
        font-size: 16px;
        font-weight: 600;
        color: #555;
        width: 268px;
        margin: 30px auto 0;

        @media (min-width: $screen-size-pc) {
          position: absolute;
          z-index: 401;
          top: 10px;
          right: 0;
        }

        input {
          display: none;
        }
        div.agency-link {
          display: none;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 50px;
          background: #555;
          border-radius: 23px;
          overflow: hidden;
        }

        button.agency-open {
          display: block;
          background: #000000;
          color: #fff;
          border: none;
          width: 100%;
          height: 46px;
          text-align: left;
          padding: 0 20px;
          border-radius: 46px;

          i {
            position: absolute;
            font-size: 18px;
            right: 10px;
            top: 14px;
            transform: rotate(90deg);
            @include ani(0.5s);
          }

          &.on {
            & > i {
              @include ani(0.5s);
              transform: rotate(270deg);
            }
          }
        }

        a {
          display: block;
          border-bottom: 1px solid #999;
          line-height: 46px;
          padding: 0 20px;
          background: #555;
          color: #fff;

          &:last-of-type {
            border: none;
          }

          &:hover {
            background: #000;
          }
        }

        button.on + div.agency-link {
          display: block;
        }
      }
    }
  }





}
